.title {
    color: blue;
}

.complete {
    text-decoration: line-through;
    color: red;
}

.form-addTask button {
    font-weight: 600;
    border: 2px solid #24262b;
    margin-left: 5px;
    width: 80px;
    transition: 0.6s;
}

.form-addTask button:hover {
    background-color: #24262b;
    color: white;
}

.filter-buttons {
    margin-top: 20px;
}

.filter-buttons button {
    font-weight: 600;
    border: 2px solid #24262b;
    margin-right: 5px;
}

.active-filter {
    background-color: #24262b;
    color: white;
}