header {
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 8px;
    opacity: 0.6;
    font-size: 17px;
    transition: 0.6s;
}

header a:hover {
    color: black;
    opacity: 1;
}

header a.active {
    color: orangered;
    opacity: 1;
}