header {
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 8px;
    opacity: 0.6;
    font-size: 17px;
    transition: 0.6s;
}

header a:hover {
    color: black;
    opacity: 1;
}

header.dark {
    background-color: #333;
    color: white;
}

header.dark a {
    color: white;
}

header.light {
    background-color: white;
}

header.light a {
    color: black;
}

header a.active {
    color: orangered;
    opacity: 1;
}

.themeToggle {
    float: right;
}

.likedFilms {
    float: right;
    color: red;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 3px;
}

.likedFilms span {
    margin-left: 5px;
}